
@* @inherits BlazorAdmin.Helpers.BlazorComponent *@

@namespace eCommerce.ComputerParts.Shop.Web.Admin.Shared

<div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
</div>

